/* * {
  border: 1px solid red;

} */

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chart-container {
  width: 1000px;
}

.chart-container h2 {
  text-align: center;
}

.stock-stats {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.stock-stats>div {
  width: 25%;
  border-radius: 20px;
  text-align: center;
  line-height: 4.5;
}